version: "3"

networks:
  vpn:

services:
  vpn:
    image: vpn
    container_name: vpn
    cap_add:
      - NET_ADMIN # required for up link add
      # - SYS_MODULE
    environment:
      - TZ
      - WG_INTERFACE
    volumes:
      - $PWD/volumes/etc/wireguard:/etc/wireguard
    networks:
      - vpn
    ports:
      - 51820:51820/udp
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped
