version: "2.1"

services:
  wireguard:
    image: lscr.io/linuxserver/wireguard:latest
    container_name: wireguard
    cap_add:
      - NET_ADMIN
      # - SYS_MODULE #optional
    # https://docs.linuxserver.io/images/docker-wireguard/#environment-variables-e
    environment:
      - PUID=1000
      - PGID=1000
      - TZ
      - SERVERURL=wireguard.domain.com
      - SERVERPORT=51820
      - PEERS=peer1,peer2
      - PEERDNS=auto
      - INTERNAL_SUBNET=10.13.13.0
      - ALLOWEDIPS=0.0.0.0/0
      - PERSISTENTKEEPALIVE_PEERS
      - LOG_CONFS=false
    volumes:
      - ./volumes/config:/config
      # - /lib/modules:/lib/modules #optional
    ports:
      - 51820:51820/udp
    # sysctls:
    #   - net.ipv4.conf.all.src_valid_mark=1 # required for client mode
    restart: unless-stopped
